<div class="container">
    <div class="topbar">
      <div class="left-top">
        <span
          ><img src="assets/images/logo.png" alt="Logo" class="img-fluid"
        /></span>
        <span><p class="sdt">0986-086-878</p></span>
        <span><img src="assets/images/mail.png" alt="Mail" /></span>
        <p>ambroeatcleangmail.com</p>
      </div>
      <div class="right-top">
        <a href="#"><img src="assets/images/facebook.png" /></a>
        <a><img src="assets/images/git.png" /></a>
      </div>
    </div>
  </div>
  
  <header class="header">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" />
      <img src="assets/images/ten.png" />
    </div>
    <nav>
      <ul>
        <li><a href="#" class="nav-link">Giới thiệu</a></li>
        <li><a href="#" class="nav-link">Sản phẩm</a></li>
        <li><a href="#" class="nav-link">Công cụ</a></li>
        <li><a href="#" class="nav-link">Công thức nấu ăn</a></li>
        <li><a href="#" class="nav-link">Khuyến mãi</a></li>
        <li><a href="#" class="nav-link">Cộng đồng</a></li>
      </ul>
    </nav>
    <div class="icon">
      <a href="#"><img src="assets/images/search.png" class="icons" /></a>
      <a href="#"><img src="assets/images/cart.png" /></a>
      <button class="custom-button">Tài khoản</button>
    </div>
  </header>